.schedule h4 {
  text-align: center;
}

table {
  padding: 10px;
  border: 1px solid #ccc;
}

table tbody tr td:first-child {
  position: relative;
  top: -15px;
}

.black-box {
  width: 80px;
  height: 30px;
  background-color: #4c4c4c;
  color: white;
  text-align: center;
  cursor: pointer;
}

.green {
  background-color: green;
}